[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiobotocore = {version = "==3.1.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
aiohappyeyeballs = {version = "==2.6.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
aiohttp = {version = "==3.13.5", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
aioitertools = {version = "==0.13.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
aiosignal = {version = "==1.4.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
attrs = {version = "==25.4.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
awswrangler = {version = "==3.15.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
backoff = {version = "==2.2.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
bcrypt = {version = "==5.0.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
boto3 = {version = "==1.42.30", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
botocore = {version = "==1.42.30", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
certifi = {version = "==2026.1.4", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
cffi = {version = "==2.0.0", markers = "python_full_version > \"3.13.0\" and platform_python_implementation != \"PyPy\" and python_version < \"4.0\""}
chardet = {version = "==5.2.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
charset-normalizer = {version = "==3.4.4", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
ciso8601 = {version = "==2.3.3", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
cryptography = {version = "==46.0.3", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
deepdiff = {version = "==8.6.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
et-xmlfile = {version = "==2.0.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
fastjsonschema = {version = "==2.14.5", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
file-processors = {ref = "v4.0.0", git = "ssh://git@github.com/symon-ai/file-processors.git", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
frozenlist = {version = "==1.8.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
fsspec = {version = "==2026.1.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
idna = {version = "==3.11", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
jmespath = {version = "==1.1.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
jsonschema = {version = "==2.6.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
multidict = {version = "==6.7.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
numpy = {version = "==2.4.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
openpyxl = {version = "==3.1.5", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
orderly-set = {version = "==5.5.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
packaging = {version = "==25.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
pandas = {version = "==2.3.3", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
paramiko = {version = "==3.4.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
propcache = {version = "==0.4.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
pyarrow = {version = "==22.0.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
pycparser = {version = "==3.0", markers = "python_full_version > \"3.13.0\" and platform_python_implementation != \"PyPy\" and python_version < \"4.0\" and implementation_name != \"PyPy\""}
pynacl = {version = "==1.6.2", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
python-dateutil = {version = "==2.9.0.post0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
python-gnupg = {ref = "0.4.9.1", git = "ssh://git@github.com/symon-ai/python-gnupg.git", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
pytz = {version = "==2025.2", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
requests = {version = "==2.32.5", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
s3fs = {version = "==2026.1.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
s3transfer = {version = "==0.16.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
simplejson = {version = "==3.20.2", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
singer-python = {version = "==6.3.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
six = {version = "==1.17.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
smart-open = {version = "==7.5.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
terminaltables = {version = "==3.1.10", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
typing-extensions = {version = "==4.15.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
tzdata = {version = "==2025.3", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
urllib3 = {version = "==2.6.3", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
wrapt = {version = "==2.0.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
xlrd = {version = "==2.0.1", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}
yarl = {version = "==1.22.0", markers = "python_full_version > \"3.13.0\" and python_version < \"4.0\""}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
