singer-python==5.9.0
chardet==4.0.0
paramiko==2.6.0
backoff==1.8.0
terminaltables==3.1.0
python-gnupg @ git+https://github.com/symon-ai/python-gnupg.git@0.4.9.1#egg=python-gnupg
boto3==1.24.35
smart_open